body{
    margin:0;
    padding:0;
    background-image: url(../img/3.jpg);
    background-size: cover;
    background-repeat: none;
}
/* logo */
.navlogo{
    height: 500px;
    display: flex;
    align-items: center;
    padding-bottom:1px;
    justify-content: space-between;
    background-color:antiquewhite;
    background-image:url("../image/home_head.jpg");
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:100% 100%;
}
.navlogo h1{
    color:white;
    font-size:80px;
}
/* company logo */
#cLogo{
    margin:20px;
    width:100px;
    height:100px;
    border-radius: 20px;
    margin-bottom:0;
    
}
/* profile logo */
#pLogo{
    width: 40px;
    height:40px;
    border-radius: 50%;
}
#pLogo:hover{
    border: 1px solid black;
}
.proLogOut a{
    color:#767676;
}
.proLogOut a:hover{
    color:#252525;
}
.proLogOut{
    margin-right: 30px;
}
.proLogOut a{
    text-decoration: none;;
}
/* navigation bar */
.navBar {
    background-color: #333;
    padding: 10px 0; 
    margin-top:0;
    
}

.navBar ul {
    text-align: center;
    list-style-type: none; 
    margin: 0;
    padding: 0;
}

.navBar ul li {
    display: inline; 
    margin-right: 20px; 
}

.navBar ul li a {
    color: white; 
    text-decoration: none; 
    font-size: 16px; 
}

.navBar ul li a:hover {
    text-decoration: underline;
}

.navBar ul{
    padding:0;
    margin:0;

}

.navBar li a{
    text-decoration: none;
    color:white;
    font-size:20px;
    margin:10px;
    
}
.main{
    background-color: rgb(215, 214, 214);
    background: transparent;
    border:1px, solid, rgb(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    width:850px;
    margin:50px auto;
    padding:0 0 10px 0;
    border-radius:20px;
    box-shadow: black 0 0 5px 0;
}
#form {
    text-align: center;
    padding-top:30px;
}
#name, #comment, #email{
    width:80%;
    resize:vertical;
    border-radius:5px;
    background: transparent;
    border: 1px solid rgb(207, 207, 207);
    outline:none;
}
#comment::placeholder{
    color:white;
}
#name, #comment ,#email{
    padding:10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:white;
    
}
/* button */
.btn{
    margin: 0 -620px 0 0;
}
#update{
    background-color: #4ba92e;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:30px;
    margin:10px;
    opacity: 80%;
}
#update:hover{
    opacity: 100%;
}
/* footer */
.footer {
    /* width:100%;
    position: fixed;
    bottom: 0; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; 
    padding: 0px;
    background-color: #f2f2f2; 
}
.log a{
    margin:0 5px;
}
.details ul a:hover{
    text-decoration: underline;
}
.PTE ul a:hover{
    text-decoration: underline;
}
.footer-content1, .footer-content2, .footer-content3 {
    text-align: center;
}

.footer-content1 img {
    width: 80px; 
}

.footer-content2 ul, .footer-content3 ul {
    list-style: none;
    padding: 0; 
}
.footer-content2 ul a, .footer-content3 ul a {
    text-decoration: none; 
}
.footer-content2 ul li, .footer-content3 ul li {
    margin-bottom: 10px; 
}

/* responsiveness */
@media (max-width:880px) {
    .popular .items .section{
        grid-template-columns: repeat(2, 1fr); 
    }
    .trending{
        grid-template-columns: repeat(2, 1fr);
    }
    .recipeDetails h1{
        font-size: 25px;;
    }
    .recipeDetails{
        width:80%; 
        margin:20px 60px;
        text-align: center;
    }
    .navBar ul li {
        display: block; 
        margin-right: 20px; 
        padding:10px 0;
    }
    .footer {
        grid-template-columns: 1fr; 
    }
    .main{
        width: 650px;
    }
    .btn{
        margin: 0 -490px 0 0;
    }
}